body {font-family: "BentonSansCondRegular", "Arial", sans-serif; 
    background-color: rgb(122,24,21);
    padding: 1px;
    color: black; }
form {
            background-color: rgb(122,24,21);
            padding: 40px;
            color: white;
     }        

#email {
            width: 75%;
        }
        
        #comments {
            width: 1033px;
            height: 100px;
            
        }
.button {
            background-color: white;
            border: none;
            padding: 6px 10px 6px 10px;
            
        }
        table, td, th {
            border: 5px solid black; 
            border-collapse: collapse;
            height: 30px;
            width: 20px;
        

}
.Ramon{
    height: 250px;
    width: 250px;
}
.title{
    background-color: rgb(122,24,21);
}



 