body { font-family: "BentonSansCondRegular", "Arial", sans-serif; 
    background-color: rgb(122,24,21);
    padding: 20px;
    color: white; }
form {
            background-color: rgb(122,24,21);
            padding: 20px;
            color: white;
     }        
input, textarea, select {
            margin: 3px;
        }
#email {
            width: 75%;
        }
        
        #comments {
            width: 1033px;
            height: 100px;
            
        }
.button {
            background-color: white;
            border: none;
            padding: 6px 10px 6px 10px;
            
        }
 