body {
            font-family: "BentonSansCondRegular", "Arial", sans-serif; 
            background-color: rgb(122,24,21);

            color: black; 
}
header{
            color:black;
            font-size: xx-large;
        }
a{
            font-weight: bold;
            color: white;
            padding: 6px;

}
form {
            background-color: rgb(122,24,21);
            padding: 40px;
            color: white;
     }                 
.button {
            background-color: white;
            border: none;
            padding: 6px 10px 6px 10px;
            
        }
#t1{
            border: 3px solid black; 
            padding: 50px;
        }
.Ramon{
            height: 250px;
            width: 250px;
}
.title{
            background-color: rgb(122,24,21);
            color: white;
        }




 